@using MoonlightDashboard.Lib
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moonlight Dashboard - @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/site.css">
    <script type="importmap">
        {
          "imports": {
            "app/": "@Url.Content("~/js/")"
          }
        }
    </script>
    @RenderSection("css", required: false)
</head>
<body>
    <div class="container">
        <nav class="navigation">
            <ul class="nav">
                @if (Context.IsLoggedIn())
                {
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                    <li>
                        <a href="/">Index</a>
                    </li>
                    <li>
                        <a href="/servers">Servers</a>
                    </li>
                    <li>
                        <a href="/mods">Mods</a>
                    </li>
                    <li>
                        <a href="/modsets">Modsets</a>
                    </li>
                    <li>
                        <a href="/jobs">Jobs</a>
                    </li>
                    @if (Context.HasPermission("Admin")){
                        <li>
                            <a href="/users">Users</a>
                        </li>
                        <li>
                            <a href="/settings">Settings</a>
                        </li>
                        <li>
                            <a href="/maintenance">Maintenance</a>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                }
            </ul>
        </nav>
        <main class="main">
            @RenderBody()
        </main>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>