@page "/Servers/{id}"
@model MoonlightDashboard.Pages.Servers.DetailsModel
@{
}
<h3>Server Info:</h3>
<table>
    <tr>
        <td>Server Name</td>
        <td>@Model.Server.Name</td>
    </tr>
    <tr>
        <td>Server Port</td>
        <td>
            <form asp-page-handler="SetPort" method="POST">
                <input type="number" name="port" value="@Model.Server.Port" placeholder="@Model.Server.Port" step="1" />
                <input type="submit" value="Set Port" />
            </form>
        </td>
    </tr>
    <tr>
        <td>Creator DLCs</td>
        <td>
            <form asp-page-handler="SetCreatorDlcs" method="POST">
                @foreach (var dlc in Model.CreatorDlcs)
                {
                    <input type="checkbox" title="@dlc.Name" name="@dlc.Id" @(Model.ActiveCreatorDlcs.Contains(dlc.Id) ? "checked" : "") /> @dlc.Name<br>
                }
                <input type="submit" value="Set Creator DLCs" />
            </form>
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@Model.ServerUnitInfo.ActiveState, @Model.ServerUnitInfo.SubState</td>
    </tr>
    <tr>
        <td>Modset</td>
        <td>
            <form asp-page-handler="SetModset" method="POST">
                <select name="modsetId">
                    <option value="">None</option>
                    @foreach (var modset in Model.Modsets)
                    {
                        <option value="@modset.Id" selected="@(modset.Id == Model.Server.ActiveModsetId)">@modset.Name</option>
                    }
                </select>
                <input type="submit" value="Set Modset" />
            </form>
        </td>
    </tr>
</table>
<partial name="_ServerButtons" model="(Model.Server.Id, Request.Path + Request.QueryString)" />
<h3>Log:</h3>
<input type="checkbox" id="scroll-enabled" checked>Log Scroll Enabled
<br />
<textarea class="log file" id="log" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">@Model.LastLog</textarea>
<h3>Config Files:</h3>
<a asp-page="/Servers/BasicConfig" asp-route-id="@Model.Server.Id" class="btn">Edit Basic Config</a>
<a asp-page="/Servers/ServerConfig" asp-route-id="@Model.Server.Id" class="btn">Edit Server Config</a>
<a asp-page="/Servers/ServerProfile" asp-route-id="@Model.Server.Id" class="btn">Edit Server Profile</a>
<br /><br />

<script type="module">
    import { LogTracker } from 'app/LogTracker.js';

    const tracker = new LogTracker({
        serverId: "@Model.Server.Id",
        textareaId: "log",
        checkboxId: "scroll-enabled",
        maxLines: 10000
    });

    tracker.connect();
</script>